/** @format */

* {
	margin: 0px;
	padding: 0px;
	font-family: Poppins, sans-serif;
}
body {
	display: flex;
	/* justify-content: center; */
	background: linear-gradient(90deg, #030380 0%, #060e1f 100%);
	/* text-align: center; */
	/* width: 100%; */
}
.header {
	/* display: flex; */
	justify-content: center;
	margin-top: 200px;
	width: 100%;
}

.message-up-title {
	padding: 0.63rem 1.5rem;
	display: flex;
	background-color: #00018f;
	border-style: solid;
	max-width: 250px;
	border: 1px solid #0001eb;
	border-radius: 6.25rem;
	justify-self: center;
}

.message-up-title p {
	color: aliceblue;
	font-size: 0.75rem;
}

.title {
	width: 100%;
	display: grid;
	justify-content: center;
	h1 {
		font-family: Poppins, sans-serif;
		font-size: 4.75rem;
		font-weight: 400;
		line-height: 1.1;
		color: aliceblue;
		text-align: center;
	}
}

.text-builder {
	text-align: center;
}

.text-builder span {
	opacity: 1;
	font-size: 16px;
	color: #98a2b3;
}
#text-two {
	opacity: 1;
	font-size: 16px;
	margin-left: 10px;
}

.start-buttons {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.button-start {
	width: 278px;
	height: 49.27px;
	background-image: linear-gradient(45deg, #1718ff, #7f56d9);
	border-radius: 15px;
	text-align: center;
}

.button-start:hover {
	border-color: white;
}

.button-start button {
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: transparent;
	font-family: Poppins, sans-serif;
	border: none;
	text-align: center;
	margin-top: 15px;
}

.more-information {
	cursor: pointer;
	width: 154px;
	height: 49.27px;
	background-image: none;
	border-radius: 25px;
	border: solid 1px white;
	text-align: center;
	margin-left: 25px;
}

.more-information button {
	cursor: pointer;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	background-color: transparent;
	font-family: Poppins, sans-serif;
	border: none;
	text-align: center;
	margin-top: 15px;
}

.more-information:hover {
	background-color: white;
	border-radius: 25px;
	color: black;
	button {
		color: black;
	}
}

.more-information button:hover {
	color: #010c24;
	border-radius: 25px;
}

.our-difference-menu {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.edit-our-difference {
	width: 100%;
	display: grid;
}

.message-our-difference {
	display: flex;
	justify-self: center;
	align-items: center;
	width: 184.33px;
	height: 42.16px;
	background-color: #011d5a;
	border: 1px solid white;
	border-style: solid;
	border-radius: 25px;
	justify-content: center;
	margin-bottom: 120px;
}

.message-our-difference p {
	color: aliceblue;
	font-size: 0.75rem;
	font-family: Poppins, sans-serif;
	text-align: center;
}

.line-blue {
	width: 100%;
}

.customize-message-our-difference {
	display: flex;
	text-align: center;
	width: 100%;
}

.customize-plataform {
	display: flex;
	text-align: center;
	width: 100%;
}

.customize-plataform h1 {
	width: 100%;
	color: white;
	font-family: Poppins, sans-serif;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 1.2;
	justify-content: center;
}

.customize-message-our-difference h1 {
	width: 100%;
	color: white;
	font-family: Poppins, sans-serif;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 1.2;
	justify-content: center;
}

.customize-visual {
	display: flex;
	text-align: center;
	width: 100%;
}

.customize-visual h3 {
	font-size: 1.25rem;
	opacity: 1;
	color: #98a2b3;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	justify-content: center;
	width: 100%;
}

.topics-img {
	justify-self: center;
	width: 100% - 20px;
	display: flex;
	justify-content: space-evenly;
}

.topics-img p {
	font-size: 1.125rem;
	color: #98a2b3;
	/* color: white; */
}

.image-center {
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.image-center img,
.image-center p {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.img-blue-animation {
	width: 100%;
	background-color: blue;
}

.img-blue-animation img {
	width: 100%;
}

.difference-nexus {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.edit-nexus-difference {
	width: 100%;
}

/* .message-nexus-difference{
    display: flex;
    width: 184.33px;
    height: 42.16px;
    background-color: #011d5a;
    border-color: #011d5a;
    border-style: solid;
    border-radius: 15px;
    justify-content: center;
    margin-left: 43%;
    margin-top: 100px;
}

.message-nexus-difference p{
    color: aliceblue;
    font-size: .75rem;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.benefits-text{
    display: flex;
    text-align: center;
    width: 100%;
}

.benefits-text h1{
    width: 100%;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.2;
    justify-content: center;
} */

#nexus-img {
	/* margin-top: 100px; */
	margin-left: 15px;
}

.img-my-casino {
	width: 100%;
	display: grid;
	margin: 120px 0;
	img {
		justify-self: center;
		width: 55%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 3px;
	}
}

.steps {
	display: flex;
	justify-content: center;
	margin: 100px 0;
	img {
		width: 55%;
	}
}

button {
	border: none;
}
.card-container {
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(3, 1fr);
}
.card {
	justify-self: center;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	border-radius: 2.5rem;
	width: 400px;
	background-color: rgba(15, 23, 41, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 10px;
}
img {
	width: 100%;
}

@media (max-width: 1200px) {
	.img-my-casino {
		img {
			width: 90%;
		}
	}
	.steps {
		img {
			width: 90%;
		}
	}
}

.difference-msg-edit {
	width: 100%;
	display: grid;
}

.difference-msg {
	width: 100%;
	color: white;
	font-family: Poppins, sans-serif;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 1.2;
	justify-content: center;
}

.our-difference-menu-seccond {
	display: block;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}

.our-seccond-message {
	width: 100%;
	display: grid;
}

.message-our-difference-seccond {
	display: flex;
	justify-self: center;
	align-items: center;
	width: 184.33px;
	height: 42.16px;
	background-color: #011d5a;
	border: 1px solid white;
	border-style: solid;
	border-radius: 25px;
	justify-content: center;
	margin-bottom: 80px;
}

.message-our-difference-seccond p {
	color: aliceblue;
	font-size: 0.75rem;
	font-family: Poppins, sans-serif;
	text-align: center;
}

.card-pay-real-time {
	margin-top: 50px;
	display: flex;
	width: 100%;
	background-color: transparent;
	justify-content: center;
}

.main-card-pay-header {
	height: 100%;
	padding: 10px 20px;
	width: 90%;
	display: flex;
	align-items: center;
	background-color: #011d5a;
	border-radius: 3.125rem;
	border: solid 1px gray;
	justify-content: space-evenly;
}

.style-button-our-benefits {
	width: 100%;
	display: grid;
}

.difference-message-button-pay {
	display: flex;
	/* justify-self: center; */
	margin-top: 45px;
	align-items: center;
	width: 184.33px;
	height: 42.16px;
	background-color: transparent;
	border: 1px solid white;
	border-style: solid;
	border-radius: 25px;
	justify-content: center;
	/* margin-bottom: 120px; */
}

.difference-message-button-pay p {
	color: aliceblue;
	font-size: 0.85rem;
	font-family: Poppins, sans-serif;
	text-align: center;
}

.style-button-our-benefits h1 {
	width: 100%;
	color: white;
	font-family: Poppins, sans-serif;
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.2;
	justify-content: center;
	margin-top: 25px;
}

#message {
	opacity: 1;
	color: #98a2b3;
	margin-top: 25px;
	letter-spacing: 0.6px;
	font-family: Poppins, sans-serif;
}

.button-start-benefits {
	width: 278px;
	height: 49.27px;
	background-image: linear-gradient(45deg, #1718ff, #7f56d9);
	border-radius: 15px;
	text-align: center;
	margin-top: 60px;
}

.button-start-benefits:hover {
	border-color: white;
}

.button-start-benefits button {
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: transparent;
	font-family: Poppins, sans-serif;
	border: none;
	text-align: center;
	margin-top: 15px;
}

.edit-image-our-seccond-difference {
	margin-top: 70px;
}

#card-meio{
    font-size: 3.5rem;
}

#card-last{
    font-size: 3.5rem;
}

.client-landing {
	width: 100%;
	height: 1500px;
	background-color: #ffff;
	padding-top: 4rem;
}
.line-blue {
	width: 100%;
	height: 272px;
}

.small-img {
	width: 80px;
	height: 80px;
}

@media (max-width: 480px) {
	.client-landing {
		height: 3200px !important;
	}
	.line-blue {
		height: 583px !important;
	}
	.customize-plataform h1 {
		font-size: 2.5rem;
	}
	.customize-visual h3 {
		font-size: 1rem;
	}
}
#cards {
	width: 100%;
	height: 1400px;
}
@media (max-width: 1300px) {
    #cards {
		height: 2100px;
	}
	.main-card-pay-header {
		width: 80%;
		display: grid;
	}
}
@media (max-width: 920px) {
    #cards {
		height: 2700px;
	}
}