* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}
body{
    display: flex;
    /* justify-content: center; */
    background: linear-gradient(90deg, #030380 0%, #060e1f 100%);
    /* text-align: center; */
    /* width: 100%; */
}
.header {
    /* display: flex; */
    justify-content: center;
    margin-top: 200px;
    width: 100%;
}

.message-up-title {
    padding: .63rem 1.5rem;
    display: flex;
    background-color: #00018f;
    border-style: solid;
    max-width: 250px;
    border: 1px solid #0001eb;
    border-radius: 6.25rem;
    justify-self: center;
}

.message-up-title p{
    color: aliceblue;
    font-size: .75rem;
}

.title {
    width: 100%;
    display: grid;
    justify-content: center;
    h1 {
        font-family: Poppins, sans-serif;
        font-size: 4.75rem;
        font-weight: 400;
        line-height: 1.1;
        color: aliceblue;
        text-align: center;
    }
}

.text-builder{
    
    text-align: center;
}

.text-builder span {

    opacity: 1;
    font-size: 16px;
    color: #98a2b3
    
}
#text-two{
    opacity: 1;
    font-size: 16px;
    margin-left: 10px;        
}

.start-buttons{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.button-start{
    width: 278px;
    height: 49.27px;
    background-image: linear-gradient(45deg, #1718ff, #7f56d9);
    border-radius: 15px;
    text-align: center;
}

.button-start:hover{
    border-color: white;
}

.button-start button{
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    border: none;
    text-align: center;
    margin-top: 15px;
}

.more-information{
    cursor: pointer;
    width: 154px;
    height: 49.27px;
    background-image: none;
    border-radius: 25px;
    border: solid 1px white;
    text-align: center;
    margin-left: 25px;
}

.more-information button {
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    border: none;
    text-align: center;
    margin-top: 15px;
}

.more-information:hover{
    background-color: white;
    border-radius: 25px;
    color: black;
    button{
        color: black;
    }
}

.more-information button:hover{
    color: #010c24;
    border-radius: 25px;
}

.our-difference-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.edit-our-difference {
    width: 100%;
    display: grid;
    overflow: hidden;
}

.message-our-difference{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 184.33px;
    height: 42.16px;
    background-color: #011d5a;
    border: 1px solid white;
    border-style: solid;
    border-radius: 25px;
    justify-content: center;
    margin-bottom: 120px;
}

.message-our-difference p{
    color: aliceblue;
    font-size: .75rem;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.customize-plataform {
    display: flex;
    text-align: center;
    width: 100%; 
}

.customize-plataform h1{
    width: 100%;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.2;
    justify-content: center;
}

.customize-visual{
    display: flex;
    text-align: center;
    width: 100%;
}

.customize-visual h3{
    font-size: 1.25rem;
    opacity: 1;
    color: #98a2b3;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    justify-content: center;
    width: 100%;
}

.topics-img{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 27%;
}

.topics-img p{
    font-size: 1.125rem;
    color: #98a2b3;
    /* color: white; */
}

.image-center{
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.image-center img,
.image-center p {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.img-blue-animation{
    width: 100%;
    background-color: blue;
}

.img-blue-animation img{
    width: 100%;
    
}

.difference-nexus{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.edit-nexus-difference{
    width: 100%;
}

/* .message-nexus-difference{
    display: flex;
    width: 184.33px;
    height: 42.16px;
    background-color: #011d5a;
    border-color: #011d5a;
    border-style: solid;
    border-radius: 15px;
    justify-content: center;
    margin-left: 43%;
    margin-top: 100px;
}

.message-nexus-difference p{
    color: aliceblue;
    font-size: .75rem;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.benefits-text{
    display: flex;
    text-align: center;
    width: 100%;
}

.benefits-text h1{
    width: 100%;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.2;
    justify-content: center;
} */

#nexus-img{
    /* margin-top: 100px; */
    margin-left: 15px;
}

.img-my-casino {
    width: 100%;
    display: grid;
    margin: 120px 0;
    img {
        justify-self: center;
        width: 55%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 3px;
    }
}

.steps {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    img {
        width: 55%;
        
    }
}

button {
    border: none;
}
.card-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 2.5rem;
    width: 400px;
    background-color: rgba(15, 23, 41, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}
img { 
    width: 100%;
}

@media (max-width: 1200px) {
    .img-my-casino {
        img {
            width: 90%;
        }
    }
    .steps {
        img {
            width: 90%;
        }
    }
}